<%- include('../components/header/header.ejs',{cssFile : 'index',page:page}) %> 

<div class="main-container">
    <div class="container">
        <br><br>
        <h3 style="padding-top: 4pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">How do I exchange or return my order/product?</h3>
        <ol id="l1">
            <li data-list-text="1.">
                <p style="padding-top: 4pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">ALL SALES ARE FINAL.</p>
            </li>
            <li data-list-text="2.">
                <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">PLEASE GO THROUGH THE SIZE CHART BEFORE ORDERING.</p>
            </li>
            <li data-list-text="3.">
                <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">WE DO NOT ENTERTAIN EXCHANGE / RETURN REQUESTS.</p>
            </li>
        </ol>
        <p style="text-indent: 0pt;text-align: left;">
            <br>
        </p>
        <h3 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">What if I receive a damaged product?</h3>
        <p style="padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">We personally make sure that the products are checked before shipping them. But, if you have still received a damaged product, we apologize. We are more than willing to help you out. Please click a picture of the product and email at <a href="mailto:contact@curect.healfit.in" target="_blank" style="border: 0px !important;color:var(--sub-text)">contact@curect.healfit.in</a> and <a href="mailto:support@curect.healfit.in" target="_blank" style="border: 0px !important;color:var(--sub-text)">support@curect.healfit.in</a> within 24 hours of receiving the product.We will issue a refund as soon as we receive the product back.</p>
        <p style="text-indent: 0pt;text-align: left;"><br></p>
        <h3 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Can I return my order if I haven't requested a refund within 24 hours?</h3>
        <p style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">We always strive to give the best service to our customers, sometimes we understand that it is not possible to register a request within the given time.</p>
        <p style="padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">Please reach out to customer support by submitting your request via the "contact us" form. with your original product photo and we will try and get the best solution for you.</p><p style="text-indent: 0pt;text-align: left;"><br></p>
        <h3 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">How much time does it take for a returned item to reach the warehouse?</h3>
        <p style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">It takes about 5-7 business days for the returned order to be delivered back to us.</p>
        <p style="text-indent: 0pt;text-align: left;"><br></p>
        <h3 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">What are the payment options available?</h3>
        <p style="padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">We do not have a cash-on-delivery option available, we only accept prepaid orders. The options available for placing prepaid orders:</p>
        <ol>
            <li data-list-text="1.">
                <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">UPI (Google pay, Paytm, PhonePe and others)</p>
            </li>
            <li data-list-text="2.">
                <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">Card (Visa, MasterCar,RuPay, and Maestro)</p>
            </li>
            <li data-list-text="3.">
                <p style="padding-top: 0t;padding-left: 41pt;text-indent: -18pt;text-align: left;">Net banking</p>
            </li>
            <li data-list-text="4.">
                <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">Wallet (Mobikwik and more)</p>
            </li>
            <li data-list-text="5.">
                <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">Paylater (Simpl, LazyPay, ICICI and more)</p>
            </li>
        </ol>
        <p style="text-indent: 0pt;text-align: left;"><br></p>
        <h3 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">How many days does it take to receive a refund?</h3>
        <p style="padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">When the returned item(s) is received back at our warehouse and inspected, your refund will be initiated in the next 24 hours after the quality check. Kindly allow 3-5 business days for the amount to reflect in your source account once the refund has been initiated from our end.</p>
        <p style="padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">Canceled order refunds are immediately processed from our end. Kindly allow 3-5 business days for the refund to reflect in your account. Reimbursement of funds will be allocated back to the original form of payment used for the purchase</p>
        <p style="text-indent: 0pt;text-align: left;"><br></p>
        <h3 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Do you have cash on delivery?</h3>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">No, we don't offer Cash on Delivery. Please, choose from the different payment options listed on our website.</p>
        <p style="text-indent: 0pt;text-align: left;"><br></p>
        <h3 style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">How do I cancel my order?</h3>
        <p style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">If you intend to cancel your order, please reach out to customer support by submitting your request via the "contact us" form with your order ID.</p>
        <p style="padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">If your order is not dispatched from our warehouse, only then we will be able to cancel the order the same day.</p>
        <h3 style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Shipping time- </h3>
        <p style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">All products are shipped within 48 hours of order placement.</p>
        <p style="padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">Once shipped, they are typically delivered in 7-8 business days in metros, and 10-12 business days for the rest of India.</p>
        <p style="padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">Delivery time may vary depending upon the shipping address and other factors (public holidays, extreme weather conditions, etc.).</p>
        <h3 style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Additional Shipping charges:</h3>
        <p style="padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">Orders below rupees 1199 are charged with a nominal delivery charge of rupees 50</p>
        <p style="padding-left: 5pt;text-indent: 0pt;line-height: 165%;text-align: left;">Curect provides FREE shipping for orders above Rs. 1199 in India.</p>
    </div>
    <br>
</div>

<%- include('../components/footer/footer.ejs') %>