<div class="footer container-fluid">
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 d-flex justify-content-center justify-content-md-start">
                        <div class="logo d-inline-block text-center">
                            <a href="/" style="border: 0 !important;">
                                <img src="/images/local/curectLogo.png" style="height: 70px !important;width: 70px !important;">
                                <br>
                                <!-- <img src="/images/local/curectLogoName.png" style="height: 18px !important;"> -->
                            </a>
                            <div class="healfit-box">
                                <div class="healfit-logo">
                                    <a class="logo-item" href="http://healfit.in/" target="_blank" style="border: 0 !important;">
                                        <img src="/images/local/logo.png">
                                        <span id="logoName">HealFit</span>
                                    </a>
                                </div>
                                <a href="https://play.google.com/store/apps/details?id=com.healfit.heal_fit" style="border: 0 !important;" target="_blank"><img src="/images/local/play_store.png" style="border-radius: 8px;margin-bottom:0px !important" alt=""></a>&nbsp;
                                <a href="https://apps.apple.com/in/app/healfit/id1645721639" style="border: 0 !important;"><img src="/images/local/app_store.png" style="border-radius: 8px;margin-bottom:0px !important" alt="" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <h4 style="color: var(--rich-black);">Quick links</h4>
                        <ul>
                            <li onclick="window.location.href = '/'">Home</li>
                            <li onclick="window.location.href = '/?gender=MALE'">Men</li>
                            <li onclick="window.location.href = '/?gender=WOMEN'">Women</li>
                            <li onclick="window.location.href = '/?gender=UNISEX'">Unisex</li>
                            <li onclick="window.location.href = '/contact'">Contact us</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <h4 style="color: var(--rich-black);">Policies</h4>
                        <ul>
                            <li onclick="window.location.href = '/faq'">FAQ</li>
                            <li onclick="window.location.href = '/privacy-policy'">Privacy policy</li>
                            <li onclick="window.location.href = '/refund-policy'">Refund and Shipping Policies</li>
                            <li onclick="window.location.href = '/terms-conditions'">Terms & conditions</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <h4 style="color: var(--rich-black);">Contact</h4>
                        <ul>
                            <li>
                                <a href="mailto:contact@curect.healfit.in" style="color: var(--rich-black) !important;border: 0 !important;">
                                    <span class="iconify" data-icon="fluent:mail-16-regular"></span>&nbsp;&nbsp;
                                    <div>
                                        <span>contact@curect.healfit.in</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://wa.me/+919321596934" target="_blank" style="color: var(--rich-black) !important;border: 0 !important;">
                                    <span class="iconify" data-icon="bxl:whatsapp"></span>&nbsp;&nbsp;
                                    <div>
                                        <span>+91-9321596934</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="last-row text-center text-md-start">
                            <a href="https://www.instagram.com/curect.official/" target="_blank">
                                <span class="iconify" data-icon="ant-design:instagram-outlined"></span>
                            </a>&nbsp;&nbsp;
                            <!-- <a href="">
                                <span class="iconify" data-icon="ant-design:youtube-outlined"></span>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <br><br>
        </div>
</div>