<%- include('../components/header/header.ejs',{cssFile : 'index',page:page}) %> 

<div class="main-container">
    <div class="container" style="overflow: auto;">
        <br><br>
        <nobr><nowrap>
            <div class="pos" id="_100:101">
            <span id="_17.3" >
            <h3 style="font-weight:bold">1. Introduction</h3></span>
            </div>
            <div class="pos" id="_100:152">
            <span id="_17.3" >
            Welcome to <span style="font-weight:bold"> Curect</span> (&#147;Company&#148;, &#147;we&#148;, &#147;our&#148;, &#147;us&#148;)!</span>
            </div>
            <div class="pos" id="_100:202">
            <span id="_17.3" >
            These Terms of Service (&#147;Terms&#148;, &#147;Terms of Service&#148;) govern your use of our </span>
            </div>
            <div class="pos" id="_100:226">
            <span id="_17.3" >
            website located at <span style="font-weight:bold"> https://curect.healfit.in/</span> (together or individually &#147;Service&#148;) </span>
            </div>
            <div class="pos" id="_99:250">
            <span id="_17.3" >
            operated by <span style="font-weight:bold"> Curect</span> .</span>
            </div>
            <div class="pos" id="_100:300">
            <span id="_17.3" >
            Our Privacy Policy also governs your use of our Service and explains how we </span>
            </div>
            <div class="pos" id="_100:324">
            <span id="_17.3" >
            collect, safeguard and disclose information that results from your use of our web </span>
            </div>
            <div class="pos" id="_100:348">
            <span id="_17.3" >
            pages.</span>
            </div>
            <div class="pos" id="_100:398">
            <span id="_17.3" >
            Your agreement with us includes these Terms and our Privacy Policy </span>
            </div>
            <div class="pos" id="_100:422">
            <span id="_17.3" >
            (&#147;Agreements&#148;). You acknowledge that you have read and understood </span>
            </div>
            <div class="pos" id="_100:446">
            <span id="_17.3" >
            Agreements, and agree to be bound of them.</span>
            </div>
            <div class="pos" id="_100:496" style="top:496;left:100">
            <span id="_17.3" >
            If you do not agree with (or cannot comply with) Agreements, then you may not </span>
            </div>
            <div class="pos" id="_100:520" style="top:520;left:100">
            <span id="_17.3" >
            use the Service, but please let us know by emailing at <span style="font-weight:bold"> contact@curect.healfit.in</span> </span>
            </div>
            <div class="pos" id="_100:544" style="top:544;left:100">
            <span id="_17.3" >
            so we can try to find a solution. These Terms apply to all visitors, users and </span>
            </div>
            <div class="pos" id="_100:568" style="top:568;left:100">
            <span id="_17.3" >
            others who wish to access or use Service.</span>
            </div>
            <div class="pos" id="_100:618" style="top:618;left:100">
            <span id="_17.3" >
                <br>
            <h3 style="font-weight:bold">2. Communications</h3></span>
            </div>
            <div class="pos" id="_100:668" style="top:668;left:100">
            <span id="_17.3" >
            By using our Service, you agree to subscribe to newsletters, marketing or </span>
            </div>
            <div class="pos" id="_100:692" style="top:692;left:100">
            <span id="_17.3" >
            promotional materials and other information we may send. However, you may opt </span>
            </div>
            <div class="pos" id="_100:716" style="top:716;left:100">
            <span id="_17.3" >
            out of receiving any, or all, of these communications from us by following the </span>
            </div>
            <div class="pos" id="_100:740" style="top:740;left:100">
            <span id="_17.3" >
            unsubscribe link or by emailing at <span style="font-weight:bold"> contact@curect.healfit.in.</span></span>
            </div>
            <div class="pos" id="_100:790" style="top:790;left:100">
            <span id="_17.3" >
                <br>
            <h3 style="font-weight:bold">3. Purchases</h3></span>
            </div>
            <div class="pos" id="_100:840" style="top:840;left:100">
            <span id="_17.3" >
            If you wish to purchase any product or service made available through Service </span>
            </div>
            <div class="pos" id="_100:864" style="top:864;left:100">
            <span id="_17.3" >
            (&#147;Purchase&#148;), you may be asked to supply certain information relevant to your </span>
            </div>
            <div class="pos" id="_100:888" style="top:888;left:100">
            <span id="_17.3" >
            Purchase including but not limited to, your credit or debit card number, the </span>
            </div>
            <div class="pos" id="_100:912" style="top:912;left:100">
            <span id="_17.3" >
            expiration date of your card, your billing address, and your shipping information.</span>
            </div>
            <div class="pos" id="_100:1201" style="top:1201;left:100">
            <span id="_17.6" >
            You represent and warrant that: (i) you have the legal right to use any card(s) or </span>
            </div>
            <div class="pos" id="_100:1225" style="top:1225;left:100">
            <span id="_17.6" >
            other payment method(s) in connection with any Purchase; and that (ii) the </span>
            </div>
            <div class="pos" id="_100:1249" style="top:1249;left:100">
            <span id="_17.6" >
            information you supply to us is true, correct and complete.</span>
            </div>
            <div class="pos" id="_100:1299" style="top:1299;left:100">
            <span id="_17.6" >
            We may employ the use of third party services for the purpose of facilitating </span>
            </div>
            <div class="pos" id="_100:1323" style="top:1323;left:100">
            <span id="_17.6" >
            payment and the completion of Purchases. By submitting your information, you </span>
            </div>
            <div class="pos" id="_100:1347" style="top:1347;left:100">
            <span id="_17.6" >
            grant us the right to provide the information to these third parties subject to our </span>
            </div>
            <div class="pos" id="_100:1371" style="top:1371;left:100">
            <span id="_17.6" >
            Privacy Policy.</span>
            </div>
            <div class="pos" id="_100:1421" style="top:1421;left:100">
            <span id="_17.6" >
            We reserve the right to refuse or cancel your order at any time for reasons </span>
            </div>
            <div class="pos" id="_100:1445" style="top:1445;left:100">
            <span id="_17.6" >
            including but not limited to: product or service availability, errors in the description </span>
            </div>
            <div class="pos" id="_100:1469" style="top:1469;left:100">
            <span id="_17.6" >
            or price of the product or service, error in your order or other reasons.</span>
            </div>
            <div class="pos" id="_100:1519" style="top:1519;left:100">
            <span id="_17.6" >
            We reserve the right to refuse or cancel your order if fraud or an unauthorized or </span>
            </div>
            <div class="pos" id="_100:1543" style="top:1543;left:100">
            <span id="_17.6" >
            illegal transaction is suspected.</span>
            </div>
            <div class="pos" id="_100:1593" style="top:1593;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">4. Contests, Sweepstakes and Promotions</h3></span>
            </div>
            <div class="pos" id="_100:1644" style="top:1644;left:100">
            <span id="_17.6" >
            Any contests, sweepstakes or other promotions (collectively, &#147;Promotions&#148;) made </span>
            </div>
            <div class="pos" id="_100:1668" style="top:1668;left:100">
            <span id="_17.6" >
            available through Service may be governed by rules that are separate from these </span>
            </div>
            <div class="pos" id="_100:1691" style="top:1691;left:100">
            <span id="_17.6" >
            Terms of Service. If you participate in any Promotions, please review the </span>
            </div>
            <div class="pos" id="_100:1715" style="top:1715;left:100">
            <span id="_17.6" >
            applicable rules as well as our Privacy Policy. If the rules for a Promotion conflict </span>
            </div>
            <div class="pos" id="_100:1739" style="top:1739;left:100">
            <span id="_17.6" >
            with these Terms of Service, Promotion rules will apply.</span>
            </div>
            <div class="pos" id="_100:1789" style="top:1789;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">5. Refunds</h3></span>
            </div>
            <div class="pos" id="_100:1840" style="top:1840;left:100">
            <span id="_17.6" >
            We do not issue refunds.</span>
            </div>
            <div class="pos" id="_100:1890" style="top:1890;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">6. Content</h3></span>
            </div>
            <div class="pos" id="_100:1940" style="top:1940;left:100">
            <span id="_17.6" >
            Content found on or through this Service are the property of Curect or used with </span>
            </div>
            <div class="pos" id="_100:1964" style="top:1964;left:100">
            <span id="_17.6" >
            permission. You may not distribute, modify, transmit, reuse, download, repost, </span>
            </div>
            <div class="pos" id="_100:1988" style="top:1988;left:100">
            <span id="_17.6" >
            copy, or use said Content, whether in whole or in part, for commercial purposes </span>
            </div>
            <div class="pos" id="_100:2012" style="top:2012;left:100">
            <span id="_17.6" >
            or for personal gain, without express advance written permission from us.</span>
            </div>
            <div class="pos" id="_100:2062" style="top:2062;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">7. Prohibited Uses</h3></span>
            </div>
            <div class="pos" id="_100:2301" style="top:2301;left:100">
            <span id="_17.6" >
            You may use Service only for lawful purposes and in accordance with Terms. </span>
            </div>
            <div class="pos" id="_100:2325" style="top:2325;left:100">
            <span id="_17.6" >
            You agree not to use Service:</span>
            </div>
            <div class="pos" id="_100:2375" style="top:2375;left:100">
            <span id="_17.6" >
            0.1. In any way that violates any applicable national or international law or </span>
            </div>
            <div class="pos" id="_100:2399" style="top:2399;left:100">
            <span id="_17.6" >
            regulation.</span>
            </div>
            <div class="pos" id="_100:2450" style="top:2450;left:100">
            <span id="_17.6" >
            0.2. For the purpose of exploiting, harming, or attempting to exploit or harm </span>
            </div>
            <div class="pos" id="_100:2473" style="top:2473;left:100">
            <span id="_17.6" >
            minors in any way by exposing them to inappropriate content or otherwise.</span>
            </div>
            <div class="pos" id="_100:2524" style="top:2524;left:100">
            <span id="_17.6" >
            0.3. To transmit, or procure the sending of, any advertising or promotional </span>
            </div>
            <div class="pos" id="_100:2548" style="top:2548;left:100">
            <span id="_17.6" >
            material, including any &#147;junk mail&#148;, &#147;chain letter,&#148; &#147;spam,&#148; or any other similar </span>
            </div>
            <div class="pos" id="_100:2571" style="top:2571;left:100">
            <span id="_17.6" >
            solicitation.</span>
            </div>
            <div class="pos" id="_100:2622" style="top:2622;left:100">
            <span id="_17.6" >
            0.4. To impersonate or attempt to impersonate Company, a Company employee, </span>
            </div>
            <div class="pos" id="_100:2646" style="top:2646;left:100">
            <span id="_17.6" >
            another user, or any other person or entity.</span>
            </div>
            <div class="pos" id="_100:2696" style="top:2696;left:100">
            <span id="_17.6" >
            0.5. In any way that infringes upon the rights of others, or in any way is illegal, </span>
            </div>
            <div class="pos" id="_100:2720" style="top:2720;left:100">
            <span id="_17.6" >
            threatening, fraudulent, or harmful, or in connection with any unlawful, illegal, </span>
            </div>
            <div class="pos" id="_100:2744" style="top:2744;left:100">
            <span id="_17.6" >
            fraudulent, or harmful purpose or activity.</span>
            </div>
            <div class="pos" id="_100:2794" style="top:2794;left:100">
            <span id="_17.6" >
            0.6. To engage in any other conduct that restricts or inhibits anyone&#146;s use or </span>
            </div>
            <div class="pos" id="_100:2818" style="top:2818;left:100">
            <span id="_17.6" >
            enjoyment of Service, or which, as determined by us, may harm or offend </span>
            </div>
            <div class="pos" id="_100:2842" style="top:2842;left:100">
            <span id="_17.6" >
            Company or users of Service or expose them to liability.</span>
            </div>
            <div class="pos" id="_100:2892" style="top:2892;left:100">
            <span id="_17.6" >
            Additionally, you agree not to:</span>
            </div>
            <div class="pos" id="_100:2942" style="top:2942;left:100">
            <span id="_17.6" >
            0.1. Use Service in any manner that could disable, overburden, damage, or </span>
            </div>
            <div class="pos" id="_100:2966" style="top:2966;left:100">
            <span id="_17.6" >
            impair Service or interfere with any other party&#146;s use of Service, including their </span>
            </div>
            <div class="pos" id="_100:2990" style="top:2990;left:100">
            <span id="_17.6" >
            ability to engage in real time activities through Service.</span>
            </div>
            <div class="pos" id="_100:3040" style="top:3040;left:100">
            <span id="_17.6" >
            0.2. Use any robot, spider, or other automatic device, process, or means to </span>
            </div>
            <div class="pos" id="_100:3064" style="top:3064;left:100">
            <span id="_17.6" >
            access Service for any purpose, including monitoring or copying any of the </span>
            </div>
            <div class="pos" id="_100:3088" style="top:3088;left:100">
            <span id="_17.6" >
            material on Service.</span>
            </div>
            <div class="pos" id="_100:3138" style="top:3138;left:100">
            <span id="_17.6" >
            0.3. Use any manual process to monitor or copy any of the material on Service or </span>
            </div>
            <div class="pos" id="_100:3162" style="top:3162;left:100">
            <span id="_17.6" >
            for any other unauthorized purpose without our prior written consent.</span>
            </div>
            <div class="pos" id="_100:3401" style="top:3401;left:100">
            <span id="_17.6" >
            0.4. Use any device, software, or routine that interferes with the proper working </span>
            </div>
            <div class="pos" id="_100:3425" style="top:3425;left:100">
            <span id="_17.6" >
            of Service.</span>
            </div>
            <div class="pos" id="_100:3475" style="top:3475;left:100">
            <span id="_17.6" >
            0.5. Introduce any viruses, trojan horses, worms, logic bombs, or other material </span>
            </div>
            <div class="pos" id="_100:3499" style="top:3499;left:100">
            <span id="_17.6" >
            which is malicious or technologically harmful.</span>
            </div>
            <div class="pos" id="_100:3550" style="top:3550;left:100">
            <span id="_17.6" >
            0.6. Attempt to gain unauthorized access to, interfere with, damage, or disrupt </span>
            </div>
            <div class="pos" id="_100:3573" style="top:3573;left:100">
            <span id="_17.6" >
            any parts of Service, the server on which Service is stored, or any server, </span>
            </div>
            <div class="pos" id="_100:3597" style="top:3597;left:100">
            <span id="_17.6" >
            computer, or database connected to Service.</span>
            </div>
            <div class="pos" id="_100:3648" style="top:3648;left:100">
            <span id="_17.6" >
            0.7. Attack Service via a denial-of-service attack or a distributed denial-of-service </span>
            </div>
            <div class="pos" id="_100:3671" style="top:3671;left:100">
            <span id="_17.6" >
            attack.</span>
            </div>
            <div class="pos" id="_100:3722" style="top:3722;left:100">
            <span id="_17.6" >
            0.8. Take any action that may damage or falsify Company rating.</span>
            </div>
            <div class="pos" id="_100:3772" style="top:3772;left:100">
            <span id="_17.6" >
            0.9. Otherwise attempt to interfere with the proper working of Service.</span>
            </div>
            <div class="pos" id="_100:3822" style="top:3822;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">8. Analytics</h3></span>
            </div>
            <div class="pos" id="_100:3873" style="top:3873;left:100">
            <span id="_17.6" >
            We may use third-party Service Providers to monitor and analyze the use of our </span>
            </div>
            <div class="pos" id="_100:3896" style="top:3896;left:100">
            <span id="_17.6" >
            Service.</span>
            </div>
            <div class="pos" id="_100:3947" style="top:3947;left:100">
            <span id="_17.6" >
                <br> <h3 style="font-weight:bold">9. No Use By Minors</h3></span>
            </div>
            <div class="pos" id="_100:3997" style="top:3997;left:100">
            <span id="_17.6" >
            Service is intended only for access and use by individuals at least eighteen (18) </span>
            </div>
            <div class="pos" id="_100:4021" style="top:4021;left:100">
            <span id="_17.6" >
            years old. By accessing or using Service, you warrant and represent that you are </span>
            </div>
            <div class="pos" id="_100:4045" style="top:4045;left:100">
            <span id="_17.6" >
            at least eighteen (18) years of age and with the full authority, right, and capacity </span>
            </div>
            <div class="pos" id="_100:4069" style="top:4069;left:100">
            <span id="_17.6" >
            to enter into this agreement and abide by all of the terms and conditions of </span>
            </div>
            <div class="pos" id="_100:4092" style="top:4092;left:100">
            <span id="_17.6" >
            Terms. If you are not at least eighteen (18) years old, you are prohibited from </span>
            </div>
            <div class="pos" id="_100:4116" style="top:4116;left:100">
            <span id="_17.6" >
            both the access and usage of Service.</span>
            </div>
            <div class="pos" id="_100:4167" style="top:4167;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">10. Accounts</h3></span>
            </div>
            <div class="pos" id="_100:4217" style="top:4217;left:100">
            <span id="_17.6" >
            When you create an account with us, you guarantee that you are above the age </span>
            </div>
            <div class="pos" id="_100:4241" style="top:4241;left:100">
            <span id="_17.6" >
            of 18, and that the information you provide us is accurate, complete, and current </span>
            </div>
            <div class="pos" id="_100:4501" style="top:4501;left:100">
            <span id="_17.6" >
            at all times. Inaccurate, incomplete, or obsolete information may result in the </span>
            </div>
            <div class="pos" id="_100:4525" style="top:4525;left:100">
            <span id="_17.6" >
            immediate termination of your account on Service.</span>
            </div>
            <div class="pos" id="_100:4575" style="top:4575;left:100">
            <span id="_17.6" >
            You are responsible for maintaining the confidentiality of your account and </span>
            </div>
            <div class="pos" id="_100:4599" style="top:4599;left:100">
            <span id="_17.6" >
            password, including but not limited to the restriction of access to your computer </span>
            </div>
            <div class="pos" id="_100:4623" style="top:4623;left:100">
            <span id="_17.6" >
            and/or account. You agree to accept responsibility for any and all activities or </span>
            </div>
            <div class="pos" id="_100:4647" style="top:4647;left:100">
            <span id="_17.6" >
            actions that occur under your account and/or password, whether your password </span>
            </div>
            <div class="pos" id="_100:4671" style="top:4671;left:100">
            <span id="_17.6" >
            is with our Service or a third-party service. You must notify us immediately upon </span>
            </div>
            <div class="pos" id="_100:4695" style="top:4695;left:100">
            <span id="_17.6" >
            becoming aware of any breach of security or unauthorized use of your account.</span>
            </div>
            <div class="pos" id="_100:4745" style="top:4745;left:100">
            <span id="_17.6" >
            You may not use as a username the name of another person or entity or that is </span>
            </div>
            <div class="pos" id="_100:4769" style="top:4769;left:100">
            <span id="_17.6" >
            not lawfully available for use, a name or trademark that is subject to any rights of </span>
            </div>
            <div class="pos" id="_100:4793" style="top:4793;left:100">
            <span id="_17.6" >
            another person or entity other than you, without appropriate authorization. You </span>
            </div>
            <div class="pos" id="_100:4817" style="top:4817;left:100">
            <span id="_17.6" >
            may not use as a username any name that is offensive, vulgar or obscene.</span>
            </div>
            <div class="pos" id="_100:4867" style="top:4867;left:100">
            <span id="_17.6" >
            We reserve the right to refuse service, terminate accounts, remove or edit </span>
            </div>
            <div class="pos" id="_100:4891" style="top:4891;left:100">
            <span id="_17.6" >
            content, or cancel orders in our sole discretion.</span>
            </div>
            <div class="pos" id="_100:4941" style="top:4941;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">11. Intellectual Property</h3></span>
            </div>
            <div class="pos" id="_100:4991" style="top:4991;left:100">
            <span id="_17.6" >
            Service and its original content (excluding Content provided by users), features </span>
            </div>
            <div class="pos" id="_100:5015" style="top:5015;left:100">
            <span id="_17.6" >
            and functionality are and will remain the exclusive property of Curect and its </span>
            </div>
            <div class="pos" id="_100:5039" style="top:5039;left:100">
            <span id="_17.6" >
            licensors. Service is protected by copyright, trademark, and other laws of and </span>
            </div>
            <div class="pos" id="_100:5063" style="top:5063;left:100">
            <span id="_17.6" >
            foreign countries. Our trademarks may not be used in connection with any </span>
            </div>
            <div class="pos" id="_100:5087" style="top:5087;left:100">
            <span id="_17.6" >
            product or service without the prior written consent of Curect.</span>
            </div>
            <div class="pos" id="_100:5137" style="top:5137;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">12. Copyright Policy</h3></span>
            </div>
            <div class="pos" id="_100:5187" style="top:5187;left:100">
            <span id="_17.6" >
            We respect the intellectual property rights of others. It is our policy to respond to </span>
            </div>
            <div class="pos" id="_100:5211" style="top:5211;left:100">
            <span id="_17.6" >
            any claim that Content posted on Service infringes on the copyright or other </span>
            </div>
            <div class="pos" id="_100:5235" style="top:5235;left:100">
            <span id="_17.6" >
            intellectual property rights (&#147;Infringement&#148;) of any person or entity.</span>
            </div>
            <div class="pos" id="_100:5285" style="top:5285;left:100">
            <span id="_17.6" >
            If you are a copyright owner, or authorized on behalf of one, and you believe that </span>
            </div>
            <div class="pos" id="_100:5309" style="top:5309;left:100">
            <span id="_17.6" >
            the copyrighted work has been copied in a way that constitutes copyright </span>
            </div>
            <div class="pos" id="_100:5333" style="top:5333;left:100">
            <span id="_17.6" >
            infringement, please submit your claim via email to <span style="font-weight:bold"> contact@curect.healfit.in</span> , </span>
            </div>
            <div class="pos" id="_100:5357" style="top:5357;left:100">
            <span id="_17.6" >
            with the subject line: &#147;Copyright Infringement&#148; and include in your claim a detailed </span>
            </div>
            <div class="pos" id="_100:5601" style="top:5601;left:100">
            <span id="_17.5" >
            description of the alleged Infringement as detailed below, under &#147;DMCA Notice </span>
            </div>
            <div class="pos" id="_100:5625" style="top:5625;left:100">
            <span id="_17.5" >
            and Procedure for Copyright Infringement Claims&#148;</span>
            </div>
            <div class="pos" id="_100:5675" style="top:5675;left:100">
            <span id="_17.5" >
            You may be held accountable for damages (including costs and attorneys&#146; fees) </span>
            </div>
            <div class="pos" id="_100:5699" style="top:5699;left:100">
            <span id="_17.5" >
            for misrepresentation or bad-faith claims on the infringement of any Content </span>
            </div>
            <div class="pos" id="_100:5723" style="top:5723;left:100">
            <span id="_17.5" >
            found on and/or through Service on your copyright.</span>
            </div>
            <div class="pos" id="_100:5773" style="top:5773;left:100">
            <span id="_17.5" >
                <br>
            <h3 style="font-weight:bold">13. DMCA Notice and Procedure for Copyright Infringement Claims</h3></span>
            </div>
            <div class="pos" id="_100:5824" style="top:5824;left:100">
            <span id="_17.5" >
            You may submit a notification pursuant to the Digital Millennium Copyright Act </span>
            </div>
            <div class="pos" id="_100:5848" style="top:5848;left:100">
            <span id="_17.5" >
            (DMCA) by providing our Copyright Agent with the following information in writing </span>
            </div>
            <div class="pos" id="_100:5871" style="top:5871;left:100">
            <span id="_17.5" >
            (see 17 U.S.C 512(c)(3) for further detail):</span>
            </div>
            <div class="pos" id="_100:5922" style="top:5922;left:100">
            <span id="_17.5" >
            0.1. an electronic or physical signature of the person authorized to act on behalf </span>
            </div>
            <div class="pos" id="_100:5946" style="top:5946;left:100">
            <span id="_17.5" >
            of the owner of the copyright&#146;s interest;</span>
            </div>
            <div class="pos" id="_100:5996" style="top:5996;left:100">
            <span id="_17.5" >
            0.2. a description of the copyrighted work that you claim has been infringed, </span>
            </div>
            <div class="pos" id="_100:6020" style="top:6020;left:100">
            <span id="_17.5" >
            including the URL (i.e., web page address) of the location where the copyrighted </span>
            </div>
            <div class="pos" id="_100:6044" style="top:6044;left:100">
            <span id="_17.5" >
            work exists or a copy of the copyrighted work;</span>
            </div>
            <div class="pos" id="_100:6094" style="top:6094;left:100">
            <span id="_17.5" >
            0.3. identification of the URL or other specific location on Service where the </span>
            </div>
            <div class="pos" id="_100:6118" style="top:6118;left:100">
            <span id="_17.5" >
            material that you claim is infringing is located;</span>
            </div>
            <div class="pos" id="_100:6168" style="top:6168;left:100">
            <span id="_17.5" >
            0.4. your address, telephone number, and email address;</span>
            </div>
            <div class="pos" id="_100:6218" style="top:6218;left:100">
            <span id="_17.5" >
            0.5. a statement by you that you have a good faith belief that the disputed use is </span>
            </div>
            <div class="pos" id="_100:6242" style="top:6242;left:100">
            <span id="_17.5" >
            not authorized by the copyright owner, its agent, or the law;</span>
            </div>
            <div class="pos" id="_100:6292" style="top:6292;left:100">
            <span id="_17.5" >
            0.6. a statement by you, made under penalty of perjury, that the above </span>
            </div>
            <div class="pos" id="_100:6316" style="top:6316;left:100">
            <span id="_17.5" >
            information in your notice is accurate and that you are the copyright owner or </span>
            </div>
            <div class="pos" id="_100:6340" style="top:6340;left:100">
            <span id="_17.5" >
            authorized to act on the copyright owner&#146;s behalf.</span>
            </div>
            <div class="pos" id="_100:6390" style="top:6390;left:100">
            <span id="_17.5" >
            You can contact our Copyright Agent via email at <span style="font-weight:bold"> contact@curect.healfit.in.</span></span>
            </div>
            <div class="pos" id="_100:6441" style="top:6441;left:100">
            <span id="_17.5" >
                <br>
            <h3 style="font-weight:bold">14. Error Reporting and Feedback</h3></span>
            </div>
            <div class="pos" id="_100:6701" style="top:6701;left:100">
            <span id="_17.5" >
            You may provide us either directly at <span style="font-weight:bold"> contact@curect.healfit.in</span> or via third party </span>
            </div>
            <div class="pos" id="_100:6725" style="top:6725;left:100">
            <span id="_17.5" >
            sites and tools with information and feedback concerning errors, suggestions for </span>
            </div>
            <div class="pos" id="_100:6749" style="top:6749;left:100">
            <span id="_17.5" >
            improvements, ideas, problems, complaints, and other matters related to our </span>
            </div>
            <div class="pos" id="_100:6773" style="top:6773;left:100">
            <span id="_17.5" >
            Service (&#147;Feedback&#148;). You acknowledge and agree that: (i) you shall not retain, </span>
            </div>
            <div class="pos" id="_100:6797" style="top:6797;left:100">
            <span id="_17.5" >
            acquire or assert any intellectual property right or other right, title or interest in or </span>
            </div>
            <div class="pos" id="_100:6821" style="top:6821;left:100">
            <span id="_17.5" >
            to the Feedback; (ii) Company may have development ideas similar to the </span>
            </div>
            <div class="pos" id="_100:6845" style="top:6845;left:100">
            <span id="_17.5" >
            Feedback; (iii) Feedback does not contain confidential information or proprietary </span>
            </div>
            <div class="pos" id="_100:6868" style="top:6868;left:100">
            <span id="_17.5" >
            information from you or any third party; and (iv) Company is not under any </span>
            </div>
            <div class="pos" id="_100:6892" style="top:6892;left:100">
            <span id="_17.5" >
            obligation of confidentiality with respect to the Feedback. In the event the transfer </span>
            </div>
            <div class="pos" id="_100:6916" style="top:6916;left:100">
            <span id="_17.5" >
            of the ownership to the Feedback is not possible due to applicable mandatory </span>
            </div>
            <div class="pos" id="_100:6940" style="top:6940;left:100">
            <span id="_17.5" >
            laws, you grant Company and its affiliates an exclusive, transferable, irrevocable, </span>
            </div>
            <div class="pos" id="_100:6964" style="top:6964;left:100">
            <span id="_17.5" >
            free-of-charge, sub-licensable, unlimited and perpetual right to use (including </span>
            </div>
            <div class="pos" id="_100:6988" style="top:6988;left:100">
            <span id="_17.5" >
            copy, modify, create derivative works, publish, distribute and commercialize) </span>
            </div>
            <div class="pos" id="_100:7012" style="top:7012;left:100">
            <span id="_17.5" >
            Feedback in any manner and for any purpose.</span>
            </div>
            <div class="pos" id="_100:7062" style="top:7062;left:100">
            <span id="_17.5" >
                <br>
            <h3 style="font-weight:bold">15. Links To Other Web Sites</h3></span>
            </div>
            <div class="pos" id="_100:7112" style="top:7112;left:100">
            <span id="_17.5" >
            Our Service may contain links to third party web sites or services that are not </span>
            </div>
            <div class="pos" id="_100:7136" style="top:7136;left:100">
            <span id="_17.5" >
            owned or controlled by Curect.</span>
            </div>
            <div class="pos" id="_100:7186" style="top:7186;left:100">
            <span id="_17.5" >
            Curect has no control over, and assumes no responsibility for the content, </span>
            </div>
            <div class="pos" id="_100:7210" style="top:7210;left:100">
            <span id="_17.5" >
            privacy policies, or practices of any third party web sites or services. We do not </span>
            </div>
            <div class="pos" id="_100:7234" style="top:7234;left:100">
            <span id="_17.5" >
            warrant the offerings of any of these entities/individuals or their websites.</span>
            </div>
            <div class="pos" id="_100:7284" style="top:7284;left:100">
            <span id="_17.5" >
            YOU ACKNOWLEDGE AND AGREE THAT COMPANY SHALL NOT BE </span>
            </div>
            <div class="pos" id="_100:7308" style="top:7308;left:100">
            <span id="_17.5" >
            RESPONSIBLE OR LIABLE, DIRECTLY OR INDIRECTLY, FOR ANY DAMAGE </span>
            </div>
            <div class="pos" id="_100:7332" style="top:7332;left:100">
            <span id="_17.5" >
            OR LOSS CAUSED OR ALLEGED TO BE CAUSED BY OR IN CONNECTION </span>
            </div>
            <div class="pos" id="_100:7356" style="top:7356;left:100">
            <span id="_17.5" >
            WITH USE OF OR RELIANCE ON ANY SUCH CONTENT, GOODS OR </span>
            </div>
            <div class="pos" id="_100:7380" style="top:7380;left:100">
            <span id="_17.5" >
            SERVICES AVAILABLE ON OR THROUGH ANY SUCH THIRD PARTY WEB </span>
            </div>
            <div class="pos" id="_100:7404" style="top:7404;left:100">
            <span id="_17.5" >
            SITES OR SERVICES.</span>
            </div>
            <div class="pos" id="_100:7454" style="top:7454;left:100">
            <span id="_17.5" >
            WE STRONGLY ADVISE YOU TO READ THE TERMS OF SERVICE AND </span>
            </div>
            <div class="pos" id="_100:7478" style="top:7478;left:100">
            <span id="_17.5" >
            PRIVACY POLICIES OF ANY THIRD PARTY WEB SITES OR SERVICES THAT </span>
            </div>
            <div class="pos" id="_100:7502" style="top:7502;left:100">
            <span id="_17.5" >
            YOU VISIT.</span>
            </div>
            <div class="pos" id="_100:7552" style="top:7552;left:100">
            <span id="_17.5" >
                <br>
            <h3 style="font-weight:bold">16. Disclaimer Of Warranty</h3></span>
            </div>
            <div class="pos" id="_100:7801" style="top:7801;left:100">
            <span id="_17.6" >
            THESE SERVICES ARE PROVIDED BY COMPANY ON AN &#147;AS IS&#148; AND &#147;AS </span>
            </div>
            <div class="pos" id="_100:7825" style="top:7825;left:100">
            <span id="_17.6" >
            AVAILABLE&#148; BASIS. COMPANY MAKES NO REPRESENTATIONS OR </span>
            </div>
            <div class="pos" id="_100:7849" style="top:7849;left:100">
            <span id="_17.6" >
            WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE </span>
            </div>
            <div class="pos" id="_100:7873" style="top:7873;left:100">
            <span id="_17.6" >
            OPERATION OF THEIR SERVICES, OR THE INFORMATION, CONTENT OR </span>
            </div>
            <div class="pos" id="_100:7897" style="top:7897;left:100">
            <span id="_17.6" >
            MATERIALS INCLUDED THEREIN. YOU EXPRESSLY AGREE THAT YOUR </span>
            </div>
            <div class="pos" id="_100:7921" style="top:7921;left:100">
            <span id="_17.6" >
            USE OF THESE SERVICES, THEIR CONTENT, AND ANY SERVICES OR </span>
            </div>
            <div class="pos" id="_100:7945" style="top:7945;left:100">
            <span id="_17.6" >
            ITEMS OBTAINED FROM US IS AT YOUR SOLE RISK.</span>
            </div>
            <div class="pos" id="_100:7995" style="top:7995;left:100">
            <span id="_17.6" >
            NEITHER COMPANY NOR ANY PERSON ASSOCIATED WITH COMPANY </span>
            </div>
            <div class="pos" id="_100:8019" style="top:8019;left:100">
            <span id="_17.6" >
            MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE </span>
            </div>
            <div class="pos" id="_100:8043" style="top:8043;left:100">
            <span id="_17.6" >
            COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY, OR </span>
            </div>
            <div class="pos" id="_100:8066" style="top:8066;left:100">
            <span id="_17.6" >
            AVAILABILITY OF THE SERVICES. WITHOUT LIMITING THE FOREGOING, </span>
            </div>
            <div class="pos" id="_100:8090" style="top:8090;left:100">
            <span id="_17.6" >
            NEITHER COMPANY NOR ANYONE ASSOCIATED WITH COMPANY </span>
            </div>
            <div class="pos" id="_100:8114" style="top:8114;left:100">
            <span id="_17.6" >
            REPRESENTS OR WARRANTS THAT THE SERVICES, THEIR CONTENT, OR </span>
            </div>
            <div class="pos" id="_100:8138" style="top:8138;left:100">
            <span id="_17.6" >
            ANY SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES WILL BE </span>
            </div>
            <div class="pos" id="_100:8162" style="top:8162;left:100">
            <span id="_17.6" >
            ACCURATE, RELIABLE, ERROR-FREE, OR UNINTERRUPTED, THAT </span>
            </div>
            <div class="pos" id="_100:8186" style="top:8186;left:100">
            <span id="_17.6" >
            DEFECTS WILL BE CORRECTED, THAT THE SERVICES OR THE SERVER </span>
            </div>
            <div class="pos" id="_100:8210" style="top:8210;left:100">
            <span id="_17.6" >
            THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL </span>
            </div>
            <div class="pos" id="_100:8234" style="top:8234;left:100">
            <span id="_17.6" >
            COMPONENTS OR THAT THE SERVICES OR ANY SERVICES OR ITEMS </span>
            </div>
            <div class="pos" id="_100:8257" style="top:8257;left:100">
            <span id="_17.6" >
            OBTAINED THROUGH THE SERVICES WILL OTHERWISE MEET YOUR </span>
            </div>
            <div class="pos" id="_100:8281" style="top:8281;left:100">
            <span id="_17.6" >
            NEEDS OR EXPECTATIONS.</span>
            </div>
            <div class="pos" id="_100:8332" style="top:8332;left:100">
            <span id="_17.6" >
            COMPANY HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, </span>
            </div>
            <div class="pos" id="_100:8355" style="top:8355;left:100">
            <span id="_17.6" >
            WHETHER EXPRESS OR IMPLIED, STATUTORY, OR OTHERWISE, </span>
            </div>
            <div class="pos" id="_100:8379" style="top:8379;left:100">
            <span id="_17.6" >
            INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF </span>
            </div>
            <div class="pos" id="_100:8403" style="top:8403;left:100">
            <span id="_17.6" >
            MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR </span>
            </div>
            <div class="pos" id="_100:8427" style="top:8427;left:100">
            <span id="_17.6" >
            PARTICULAR PURPOSE.</span>
            </div>
            <div class="pos" id="_100:8477" style="top:8477;left:100">
            <span id="_17.6" >
            THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT </span>
            </div>
            <div class="pos" id="_100:8501" style="top:8501;left:100">
            <span id="_17.6" >
            BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.</span>
            </div>
            <div class="pos" id="_100:8552" style="top:8552;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">17. Limitation Of Liability</h3></span>
            </div>
            <div class="pos" id="_100:8602" style="top:8602;left:100">
            <span id="_17.6" >
            EXCEPT AS PROHIBITED BY LAW, YOU WILL HOLD US AND OUR </span>
            </div>
            <div class="pos" id="_100:8626" style="top:8626;left:100">
            <span id="_17.6" >
            OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS HARMLESS FOR ANY </span>
            </div>
            <div class="pos" id="_100:8650" style="top:8650;left:100">
            <span id="_17.6" >
            INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL </span>
            </div>
            <div class="pos" id="_100:8673" style="top:8673;left:100">
            <span id="_17.6" >
            DAMAGE, HOWEVER IT ARISES (INCLUDING ATTORNEYS&#146; FEES AND ALL </span>
            </div>
            <div class="pos" id="_100:8901" style="top:8901;left:100">
            <span id="_17.6" >
            RELATED COSTS AND EXPENSES OF LITIGATION AND ARBITRATION, OR </span>
            </div>
            <div class="pos" id="_100:8925" style="top:8925;left:100">
            <span id="_17.6" >
            AT TRIAL OR ON APPEAL, IF ANY, WHETHER OR NOT LITIGATION OR </span>
            </div>
            <div class="pos" id="_100:8949" style="top:8949;left:100">
            <span id="_17.6" >
            ARBITRATION IS INSTITUTED), WHETHER IN AN ACTION OF CONTRACT, </span>
            </div>
            <div class="pos" id="_100:8973" style="top:8973;left:100">
            <span id="_17.6" >
            NEGLIGENCE, OR OTHER TORTIOUS ACTION, OR ARISING OUT OF OR IN </span>
            </div>
            <div class="pos" id="_100:8997" style="top:8997;left:100">
            <span id="_17.6" >
            CONNECTION WITH THIS AGREEMENT, INCLUDING WITHOUT LIMITATION </span>
            </div>
            <div class="pos" id="_100:9021" style="top:9021;left:100">
            <span id="_17.6" >
            ANY CLAIM FOR PERSONAL INJURY OR PROPERTY DAMAGE, ARISING </span>
            </div>
            <div class="pos" id="_100:9045" style="top:9045;left:100">
            <span id="_17.6" >
            FROM THIS AGREEMENT AND ANY VIOLATION BY YOU OF ANY FEDERAL, </span>
            </div>
            <div class="pos" id="_100:9068" style="top:9068;left:100">
            <span id="_17.6" >
            STATE, OR LOCAL LAWS, STATUTES, RULES, OR REGULATIONS, EVEN IF </span>
            </div>
            <div class="pos" id="_100:9092" style="top:9092;left:100">
            <span id="_17.6" >
            COMPANY HAS BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF </span>
            </div>
            <div class="pos" id="_100:9116" style="top:9116;left:100">
            <span id="_17.6" >
            SUCH DAMAGE. EXCEPT AS PROHIBITED BY LAW, IF THERE IS LIABILITY </span>
            </div>
            <div class="pos" id="_100:9140" style="top:9140;left:100">
            <span id="_17.6" >
            FOUND ON THE PART OF COMPANY, IT WILL BE LIMITED TO THE </span>
            </div>
            <div class="pos" id="_100:9164" style="top:9164;left:100">
            <span id="_17.6" >
            AMOUNT PAID FOR THE PRODUCTS AND/OR SERVICES, AND UNDER NO </span>
            </div>
            <div class="pos" id="_100:9188" style="top:9188;left:100">
            <span id="_17.6" >
            CIRCUMSTANCES WILL THERE BE CONSEQUENTIAL OR PUNITIVE </span>
            </div>
            <div class="pos" id="_100:9212" style="top:9212;left:100">
            <span id="_17.6" >
            DAMAGES. SOME STATES DO NOT ALLOW THE EXCLUSION OR </span>
            </div>
            <div class="pos" id="_100:9236" style="top:9236;left:100">
            <span id="_17.6" >
            LIMITATION OF PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES, </span>
            </div>
            <div class="pos" id="_100:9259" style="top:9259;left:100">
            <span id="_17.6" >
            SO THE PRIOR LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</span>
            </div>
            <div class="pos" id="_100:9310" style="top:9310;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">18. Termination</h3></span>
            </div>
            <div class="pos" id="_100:9360" style="top:9360;left:100">
            <span id="_17.6" >
            We may terminate or suspend your account and bar access to Service </span>
            </div>
            <div class="pos" id="_100:9384" style="top:9384;left:100">
            <span id="_17.6" >
            immediately, without prior notice or liability, under our sole discretion, for any </span>
            </div>
            <div class="pos" id="_100:9408" style="top:9408;left:100">
            <span id="_17.6" >
            reason whatsoever and without limitation, including but not limited to a breach of </span>
            </div>
            <div class="pos" id="_100:9432" style="top:9432;left:100">
            <span id="_17.6" >
            Terms.</span>
            </div>
            <div class="pos" id="_100:9482" style="top:9482;left:100">
            <span id="_17.6" >
            If you wish to terminate your account, you may simply discontinue using Service.</span>
            </div>
            <div class="pos" id="_100:9532" style="top:9532;left:100">
            <span id="_17.6" >
            All provisions of Terms which by their nature should survive termination shall </span>
            </div>
            <div class="pos" id="_100:9556" style="top:9556;left:100">
            <span id="_17.6" >
            survive termination, including, without limitation, ownership provisions, warranty </span>
            </div>
            <div class="pos" id="_100:9580" style="top:9580;left:100">
            <span id="_17.6" >
            disclaimers, indemnity and limitations of liability.</span>
            </div>
            <div class="pos" id="_100:9630" style="top:9630;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">19. Governing Law</h3></span>
            </div>
            <div class="pos" id="_100:9680" style="top:9680;left:100">
            <span id="_17.6" >
            These Terms shall be governed and construed in accordance with the laws of </span>
            </div>
            <div class="pos" id="_100:9704" style="top:9704;left:100">
            <span id="_17.6" >
            India, which governing law applies to agreement without regard to its conflict of </span>
            </div>
            <div class="pos" id="_100:9728" style="top:9728;left:100">
            <span id="_17.6" >
            law provisions.</span>
            </div>
            <div class="pos" id="_100:10001" style="top:10001;left:100">
            <span id="_17.6" >
            Our failure to enforce any right or provision of these Terms will not be considered </span>
            </div>
            <div class="pos" id="_100:10025" style="top:10025;left:100">
            <span id="_17.6" >
            a waiver of those rights. If any provision of these Terms is held to be invalid or </span>
            </div>
            <div class="pos" id="_100:10049" style="top:10049;left:100">
            <span id="_17.6" >
            unenforceable by a court, the remaining provisions of these Terms will remain in </span>
            </div>
            <div class="pos" id="_100:10073" style="top:10073;left:100">
            <span id="_17.6" >
            effect. These Terms constitute the entire agreement between us regarding our </span>
            </div>
            <div class="pos" id="_100:10097" style="top:10097;left:100">
            <span id="_17.6" >
            Service and supersede and replace any prior agreements we might have had </span>
            </div>
            <div class="pos" id="_100:10121" style="top:10121;left:100">
            <span id="_17.6" >
            between us regarding Service.</span>
            </div>
            <div class="pos" id="_100:10171" style="top:10171;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">20. Changes To Service</h3></span>
            </div>
            <div class="pos" id="_100:10221" style="top:10221;left:100">
            <span id="_17.6" >
            We reserve the right to withdraw or amend our Service, and any service or </span>
            </div>
            <div class="pos" id="_100:10245" style="top:10245;left:100">
            <span id="_17.6" >
            material we provide via Service, in our sole discretion without notice. We will not </span>
            </div>
            <div class="pos" id="_100:10269" style="top:10269;left:100">
            <span id="_17.6" >
            be liable if for any reason all or any part of Service is unavailable at any time or </span>
            </div>
            <div class="pos" id="_100:10293" style="top:10293;left:100">
            <span id="_17.6" >
            for any period. From time to time, we may restrict access to some parts of </span>
            </div>
            <div class="pos" id="_100:10317" style="top:10317;left:100">
            <span id="_17.6" >
            Service, or the entire Service, to users, including registered users.</span>
            </div>
            <div class="pos" id="_100:10367" style="top:10367;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">21. Amendments To Terms</h3></span>
            </div>
            <div class="pos" id="_100:10417" style="top:10417;left:100">
            <span id="_17.6" >
            We may amend Terms at any time by posting the amended terms on this site. It </span>
            </div>
            <div class="pos" id="_100:10441" style="top:10441;left:100">
            <span id="_17.6" >
            is your responsibility to review these Terms periodically.</span>
            </div>
            <div class="pos" id="_100:10491" style="top:10491;left:100">
            <span id="_17.6" >
            Your continued use of the Platform following the posting of revised Terms means </span>
            </div>
            <div class="pos" id="_100:10515" style="top:10515;left:100">
            <span id="_17.6" >
            that you accept and agree to the changes. You are expected to check this page </span>
            </div>
            <div class="pos" id="_100:10539" style="top:10539;left:100">
            <span id="_17.6" >
            frequently so you are aware of any changes, as they are binding on you.</span>
            </div>
            <div class="pos" id="_100:10589" style="top:10589;left:100">
            <span id="_17.6" >
            By continuing to access or use our Service after any revisions become effective, </span>
            </div>
            <div class="pos" id="_100:10613" style="top:10613;left:100">
            <span id="_17.6" >
            you agree to be bound by the revised terms. If you do not agree to the new </span>
            </div>
            <div class="pos" id="_100:10637" style="top:10637;left:100">
            <span id="_17.6" >
            terms, you are no longer authorized to use Service.</span>
            </div>
            <div class="pos" id="_100:10687" style="top:10687;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">22. Waiver And Severability</h3></span>
            </div>
            <div class="pos" id="_100:10738" style="top:10738;left:100">
            <span id="_17.6" >
            No waiver by Company of any term or condition set forth in Terms shall be </span>
            </div>
            <div class="pos" id="_100:10762" style="top:10762;left:100">
            <span id="_17.6" >
            deemed a further or continuing waiver of such term or condition or a waiver of </span>
            </div>
            <div class="pos" id="_100:10785" style="top:10785;left:100">
            <span id="_17.6" >
            any other term or condition, and any failure of Company to assert a right or </span>
            </div>
            <div class="pos" id="_100:10809" style="top:10809;left:100">
            <span id="_17.6" >
            provision under Terms shall not constitute a waiver of such right or provision.</span>
            </div>
            <div class="pos" id="_100:11101" style="top:11101;left:100">
            <span id="_17.6" >
            If any provision of Terms is held by a court or other tribunal of competent </span>
            </div>
            <div class="pos" id="_100:11125" style="top:11125;left:100">
            <span id="_17.6" >
            jurisdiction to be invalid, illegal or unenforceable for any reason, such provision </span>
            </div>
            <div class="pos" id="_100:11149" style="top:11149;left:100">
            <span id="_17.6" >
            shall be eliminated or limited to the minimum extent such that the remaining </span>
            </div>
            <div class="pos" id="_100:11173" style="top:11173;left:100">
            <span id="_17.6" >
            provisions of Terms will continue in full force and effect.</span>
            </div>
            <div class="pos" id="_100:11223" style="top:11223;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">23. Acknowledgement</h3></span>
            </div>
            <div class="pos" id="_100:11273" style="top:11273;left:100">
            <span id="_17.6" >
            BY USING SERVICE OR OTHER SERVICES PROVIDED BY US, YOU </span>
            </div>
            <div class="pos" id="_100:11297" style="top:11297;left:100">
            <span id="_17.6" >
            ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS OF SERVICE AND </span>
            </div>
            <div class="pos" id="_100:11321" style="top:11321;left:100">
            <span id="_17.6" >
            AGREE TO BE BOUND BY THEM. </span>
            </div>
            <div class="pos" id="_100:11371" style="top:11371;left:100">
            <span id="_17.6" >
                <br>
            <h3 style="font-weight:bold">24. Trademarks</h3></span>
            </div>
            <div class="pos" id="_100:11422" style="top:11422;left:100">
            <span id="_17.6" >
            The trademarks, logos, and service marks (&#147;Marks&#148;) displayed on the </span>
            </div>
            <div class="pos" id="_100:11455" style="top:11455;left:100">
            <span id="_17.6" >
            https://curect.healfit.in/ websites are registered and unregistered trademarks of </span>
            </div>
            <div class="pos" id="_100:11488" style="top:11488;left:100">
            <span id="_17.6" >
            https://curect.healfit.in/, its affiliates and other respective third parties. Users are </span>
            </div>
            <div class="pos" id="_100:11521" style="top:11521;left:100">
            <span id="_17.6" >
            prohibited from using any Marks for any purpose including, but not limited to use </span>
            </div>
            <div class="pos" id="_100:11555" style="top:11555;left:100">
            <span id="_17.6" >
            as metatags on other pages or sites on the World Wide Web without the written </span>
            </div>
            <div class="pos" id="_100:11588" style="top:11588;left:100">
            <span id="_17.6" >
            permission of https://curect.healfit.in/ or such third party which may own the </span>
            </div>
            <div class="pos" id="_100:11621" style="top:11621;left:100">
            <span id="_17.6" >
            Marks. All information and content including any software programs.</span>
            </div>
            <div class="pos" id="_100:11667" style="top:11667;left:100">
            <span id="_17.6" >
            25. <span style="font-weight:bold"> Contact Us</span></span>
            </div>
            <div class="pos" id="_100:11717" style="top:11717;left:100">
            <span id="_17.6" >
            Please send your feedback, comments, requests for technical support by email: </span>
            </div>
            <div class="pos" id="_100:11741" style="top:11741;left:100">
            <span id="_17.6" >
            contact@curect.healfit.in<span style="font-weight:normal"> .</span></span>
            </div>
            </nowrap></nobr>
    <br><br>
</div>

<%- include('../components/footer/footer.ejs') %>