.container-fluid {
    height: 100vh;
    padding: 20px 40px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container-fluid .form{
    height: 100%;
    border-radius: 10px;
    position: relative;
    padding: 0px;
    width: 100% !important;
}

#main {
    padding: 0px !important;
}

.container-fluid .top{
    border-radius: 0px;
    position: relative;
    width: 100% !important;
    background-color: var(--white);
    padding: 0px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.02);
}

.container-fluid .content {
    background-color: antiquewhite;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container-fluid .top .row .col-lg-9, .container-fluid .top .row .col-lg-2, .container-fluid .top .row .col-lg-1{
    padding: 10px 10px !important;
}

.container-fluid .top .btn {
    height: 40px !important;
}

.container-fluid .form .abstract-bg {
    border-radius: 20px;
    width: 100% !important;
    overflow: hidden;
    height: 250px;
    position: absolute;
    z-index: 0;
}

.container-fluid .form .abstract-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-fluid .form .profile {
    margin-top: 210px;
    position: absolute;
    z-index: 1;
    width: 100% !important;
}

.container-fluid .form .profile .profile-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--background);
}

.container-fluid .form .profile .profile-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-fluid .form .profile h4 {
    font-family: Hellix-SemiBold;
    margin-top: 15px;
}

.container-fluid .form .profile p {
    font-family: Gilroy-Regular;
    color: var(--sub-text);
    margin-bottom: 0;
}

.container-fluid .form .profile .alert {
    border-radius: 10px;
    margin: 0px 10px 20px 10px;
}

.form-group {
    width: 100%;
}

.form-control{
    font-family: Gilroy-Regular;
    border-radius: 10px;
    border: 1.5px solid var(--default-input-borders);
    height: 50px;
    outline: none;
}

.search {
    height: 40px !important;
}

.search a {
    height: 40px;
    width: 30px;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search a .iconify {
    width: 20px;
    height: 20px;
    color: var(--sub-text);
}

#searchText  {
    border: 0px solid var(--default-input-borders);
    border-radius: 0px;
    outline: 0 none !important;
    height: 40px !important;
}

#searchCat {
    outline: 0 none !important;
    height: 40px !important;
    border-radius: 8px;
}

#searchText:focus{
    border: 0px solid var(--highlight) !important;
    outline: 0 none !important;
}

textarea {
    height: unset !important;
}

.form-control:focus{
    border: 2px solid var(--highlight) !important;
    outline: 0 none !important;
}

.btn {
    background-color: var(--highlight) !important;
    border: 0px;
    border-radius: 8px;
    font-family: Gilroy-SemiBold;
    padding: 8px;
}

#add {
    background-color: var(--white) !important;
    border: 1.5px solid var(--highlight);
    color: var(--rich-black);
    font-family: Gilroy-Medium;
}

@media screen and (max-width: 768px) {
    .container-fluid {
        padding: 20px 20px;
    }
}