.container-fluid {
    background-color: var(--background);
    height: 100%;
    overflow: hidden;
    padding: 0;
    display: flex;
}

/* Sidebar */
.container-fluid .sidebar {
    background-color: var(--white);
    width: 20rem;
    border-right: 1px solid var(--default-input-borders);
    overflow: hidden;
    height: 100%;
}

/* Sidebar list */
.container-fluid .sidebar ul {
    padding: 10px 10px 10px 10px;
    margin: 0;
    color: var(--rich-black);
    font-family: Gilroy-Regular;
    font-size: 16px;
    list-style-type: none;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 82%;
}

.container-fluid .sidebar ul .list {
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 10px 20px 10px 10px;
    /* transition: 0.3s ease-in; */
}

.container-fluid .sidebar ul .list .iconify {
    margin-right: 10px;
    color: var(--rich-black);
    /* transition: 0.3s ease-in; */
    height: 20px;
    width: 20px;
}

.container-fluid .sidebar ul .list .sidebar_text {
    margin-left: 5px;
    color: var(--rich-black);
    font-family: Gilroy-Regular;
}

/* .container-fluid .sidebar ul .list:hover {
    background-color: var(--light-yellow);
    background-color: var(--light-card-bg);
    padding: 10px 20px 10px 10px;
    border-radius: 8px;
} */

/* .container-fluid .sidebar ul .list:hover .iconify,.sidebar ul .list:hover .sidebar_text{
    color: var(--rich-black) !important;
    font-family: Gilroy-Regular !important;
} */

.container-fluid .sidebar ul .selected {
    background-color: var(--highlight);
    /* background-color: var(--card-bg); */
    padding: 10px 20px 10px 10px;
    border-radius: 8px;
}

.container-fluid .sidebar ul .selected .iconify,.sidebar ul .selected .sidebar_text{
    color: var(--white) !important;
    font-family: Gilroy-Medium !important;
}

/* Logo */
.container-fluid .sidebar .logo {
    display: flex;
    justify-content: center;
    padding: 12px 10px;
    align-items: center;
    width: 100%;
    height: 8%;
}

.container-fluid .sidebar .logo a {
    margin-left: 0px;
    display: none;
    color: var(--rich-black);
}

.container-fluid .sidebar .logo a .iconify {
    width: 20px;
    height: 20px;
}

.container-fluid .sidebar .logo h5 {
    margin: 0;
    font-family: Hellix-Medium;
}

/* Profile */
.container-fluid .sidebar .profile {
    height: 80px;
    background-color: var(--card-bg);
    width: 100% !important;
    padding: 10px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
}

.container-fluid .sidebar .profile div {
    width: 100%;
    overflow: hidden;
}

.container-fluid .sidebar .profile .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 8px;
}

.container-fluid .sidebar .profile .selected_profile {
    background-color: var(--card-bg);
    padding: 5px 5px;
    border-radius: 8px;
}

.container-fluid .sidebar .profile .selected_profile .name h6,.container-fluid .sidebar .profile .selected_profile .name p{
    color: var(--rich-black) !important;   
}

.container-fluid .sidebar .profile .details .name {
    display: inline-table;
    text-align: left;
}

.container-fluid .sidebar .profile .details .name h6 {
    margin: 0px 0px 0px 20px;
    font-family: Gilroy-Medium;
    color: var(--rich-black);
    font-size: 16px;
}

.container-fluid .sidebar .profile .details .name p {
    font-size: 14px;
    color: var(--sub-text);
    font-family: Gilroy-Regular;
    margin: 5px 0px 0px 20px;
}

.container-fluid .sidebar .profile .details .profile_image {
    min-height: 50px !important;
    max-height: 50px !important;
    min-width: 50px !important;
    max-width: 50px !important;
    border-radius: 50%;
    background-color: var(--placeholder);
    overflow: hidden;
    margin: auto;
    border: 2px solid var(--placeholder);
    object-fit: fill;
}

.container-fluid .sidebar .profile .details .profile_image img {
    width: 100%;
}

.container-fluid .sidebar .profile .logout {
    border-radius: 8px;
    display: inline-table;
    background-color: var(--white);
    color: var(--sub-text);
    font-family: Gilroy-SemiBold;
    max-width: 50px !important;
    min-height: 50px !important;
    transition: 0.3s ease-in;
    cursor: pointer;
}

/* .container-fluid .sidebar .profile .logout:hover {
    background-color: var(--card-bg);
    color: var(--sub-text);
} */

.container-fluid .sidebar .profile .logout a {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    justify-content: center;
}

.container-fluid .sidebar .profile .logout a .iconify{
    height: 24px;
    width: 24px;
}

/* Main */
.container-fluid .main {
    background-color: var(--background);
    width: 80rem;
    height: 100%;
}

.container-fluid .main iframe {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: var(--background);
}

/* Sidebar bg */
.blurbackground {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    display: none;
}

.activeblurbackground {
    display: none !important;
}

/* Toggle button */
.navbar_toggle_button {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: var(--highlight);
    color: var(--white);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.navbar_toggle_button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_toggle_button a .iconify {
    height: 30px;
    width: 30px;
}

.active_side_bar {
    transform: translateX(0%) !important;
}

@media screen and (max-width: 768px) {
    .navbar_toggle_button {
        display: flex;
    }

    .container-fluid {
        position: relative;
    }

    .activeblurbackground {
        display: block !important;
    }

    .container-fluid .sidebar .logo {
        justify-content: space-between;
    }

    .container-fluid .sidebar .logo a {
        display: inline-block;
    }

    /* Sidebar */
    .container-fluid .sidebar {
        width: 50%;
        position: absolute;
        z-index: 3;
        height: 100%;
        transform: translateX(-100%);
        transition: 0.3s ease-in;
    }
    /* Main */
    .container-fluid .main {
        width: 100%;
        position: absolute;
        z-index: 0;
        height: 100%;
    }
}

@media screen and (max-width: 567px) {
    /* Sidebar */
    .container-fluid .sidebar {
        width: 85%;
        position: absolute;
        z-index: 2;
        height: 100%;
        transform: translateX(-100%);
        transition: 0.3s ease-in;
    }
}