<%- include('../components/header/website_header.ejs',{cssFile : 'index',page:page,country_codes:country_codes}) %> 

<div id="load"></div>

<!-- Link Modal -->
<div class="modal fade" id="commentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
          <div class="commentContent" id="commentContent" data-commentId="0" data-totalComments="0" onscroll="getMoreBlogComments()">
            
          </div>
          <div class="commentInput">
            <div class="form-group input-group search">
                <input type="text" class="form-control" style="border: 0;height: 100%;border-radius: 10px 0px 0px 10px !important;" name="message" id="message" placeholder="Write your comment here..."/>
                <a onclick="addMessage()"><span class="iconify" data-icon="fluent:send-16-regular"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="main-container">
    <br><br><br><br>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-9 col-md-8 col-sm-4 col-12" style="padding: 0px 0px 0px 10px !important;">
                <div class="heading">
                    <h5>Blogs</h5>
                    <p>See all the Blogs here.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-8 col-12" style="padding: 0px 10px 0px 10px !important;">
                <div>
                    <form onsubmit="getSearchedBlogs(event)" method="get" class="search-form">
                        <div class="form-group input-group search">
                            <a><span class="iconify" data-icon="akar-icons:search"></span></a>
                            <input type="text" class="form-control" id="searchText" name="searchedTitle" placeholder="Search by title...">
                        </div>
                        <input type="submit" hidden />
                      </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row experts" id="experts">
        </div>
    </div>
    <br>
    <div class="load_more" id="load_more">
        <div class="button">
            <button class="btn btn-primary d-flex justify-content-center" onclick="getMoreBlogs()">Load more</button>
        </div>
    </div>
    <br><br>
    <%- include('footer.ejs',{showContactExpert: true}) %>
</div>

<!-- Link Modal -->
<div class="modal fade" id="sendingNotification" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h3>Generating Share Link, Please Wait!!</h3>
        </div>
      </div>
    </div>
  </div>
  

<!--Bootstrap js-->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!---->


<script>
    var offset = 0;
    var isDevelopment = '<%- isDevelopment %>' == 'true' ? true : false;

    function getMoreBlogs() {
        offset = offset + 20;
        getBlogs(offset);
    }

    function getSearchedBlogs(event) {
        event.preventDefault();
        document.getElementById('load').style.visibility="visible";
        document.getElementById('experts').innerHTML = '';
        var value = document.getElementById('searchText').value;
        var array = document.cookie.split(';');
        var counter = 0;
        var index = 0;
        var userIndex = 0;
        for(var i=0;i<array.length;i++) {
            if(array[i].includes('currentUserToken=')){
                counter++;
                index = i;
            }
            if(array[i].includes('user_id=')){
                counter++;
                userIndex = i;
            }
        }
        if(decodeURIComponent(document.cookie).split(';')[index].split('currentUserToken=')[1]) {
            var token = decodeURIComponent(document.cookie).split(';')[index].split('currentUserToken=')[1];
            var user_id = decodeURIComponent(document.cookie).split(';')[userIndex].split('user_id=')[1];
        } else {
            var token = document.cookie.split(';')[index].split('currentUserToken=')[1];
            var user_id = document.cookie.split(';')[userIndex].split('user_id=')[1];
        }
        if(value.length != 0){
            $.ajax({
                url : `/api/blogs/getSearchBlogs?title=${value}&user_id=${user_id}`,
                dataType: "json",
                type: "GET",
                headers: {
                    'token':token ? token : 'testing',
                    'Content-Type':'application/json',
                    'platform': 'WEB'
                },
                success: function(response){
                    if(isDevelopment) {
                        console.log(response);
                    }
                var finalArray = response.blogs.concat(response.popularBlogs)
                    if(finalArray.length != 0){
                        for(var i=0;i<finalArray.length;i++){
                            var description = finalArray[i].description;
                            var desc = description.replace(/<[^>]+>/g, '');
                            var color;
                            var icon;
                            if(finalArray[i].isLiked == 1) {
                                color = 'var(--highlight)';
                                icon = 'bxs:like';
                            } else {
                                color = 'var(--sub-text)';
                                icon = 'bx:like';
                            }
                            $('#experts').append('<div class="col-lg-3 col-md-4 col-sm-6 col-12"><div class="box2" style="background-image: url(\''+ finalArray[i].cover_photo +'\');margin: 0;"><div class="inside_container"><div onclick="window.location.href=\'/each-blog/'+ finalArray[i].id +'\'"><p class="date">'+ finalArray[i].created_at.toString().slice(0,10) +'</p><h5>'+ finalArray[i].title +'</h5><p>'+ desc +'</p></div><div class="info"><p class="downloads" onclick="likeDislike(\''+ finalArray[i].id +'\')" style="color: '+ color +'" data-liked="'+ finalArray[i].isLiked +'" id="icon_update_'+ finalArray[i].id +'"><span class="iconify" id="icon_to_update_'+ finalArray[i].id +'" data-icon="'+ icon +'"></span>&nbsp;&nbsp;<span id="total_likes_'+ finalArray[i].id +'">'+ finalArray[i].totalLikes +'</span></p><p class="date"><span class="iconify" data-icon="akar-icons:comment" onclick="getComments(\''+ finalArray[i].id +'\',0)"></span>&nbsp;&nbsp;<span class="iconify" data-icon="ci:share" onclick="generateShareLink(\''+ finalArray[i].id +'\',\'blog\',\''+ ('/each-blog/'+ finalArray[i].id +'?item_id='+ finalArray[i].id +'') +'\',\''+ finalArray[i].share_url +'\')"></span></p></div></div></div></div>');
                        }
                    } else {
                        if(offset == 0){
                            $('#experts').append('<div class="col-12 text-center"><h6>No blogs present</h6></div>');
                        }
                    } 
                    document.getElementById('load_more').style.display = 'none';
                    document.getElementById('load').style.visibility="hidden";
                },
                error: function(err){
                    if(isDevelopment) {
                        console.log(err);
                    }
                    alert('Some error occured !!');
                }
            });
        } else {
            getBlogs(0);
        }
    }

    function getBlogs(offset) {
        var array = document.cookie.split(';');
        var counter = 0;
        var index = 0;
        var userIndex = 0;
        for(var i=0;i<array.length;i++) {
            if(array[i].includes('currentUserToken=')){
                counter++;
                index = i;
            }
            if(array[i].includes('user_id=')){
                counter++;
                userIndex = i;
            }
        }
        if(decodeURIComponent(document.cookie).split(';')[index].split('currentUserToken=')[1]) {
            var token = decodeURIComponent(document.cookie).split(';')[index].split('currentUserToken=')[1];
            var user_id = decodeURIComponent(document.cookie).split(';')[userIndex].split('user_id=')[1];
        } else {
            var token = document.cookie.split(';')[index].split('currentUserToken=')[1];
            var user_id = document.cookie.split(';')[userIndex].split('user_id=')[1];
        }
        document.getElementById('load').style.visibility="visible";
        if(offset == 0) {
            document.getElementById('experts').innerHTML = '';
        }
        $.ajax({
            url : `/api/blogs?offset=${offset}&user_id=${user_id}`,
            dataType: "json",
            type: "GET",
            headers: {
                'token':token ? token : 'testing',
                'Content-Type':'application/json',
                'platform': 'WEB'
            },
            success: function(response){
                if(isDevelopment) {
                    console.log(response);
                }
              var finalArray = [];
              //var finalArray = response.popularBlogs.concat(response.blogs)
              var finalArray = response.blogs
                if(finalArray.length != 0){
                  for(var i=0;i<finalArray.length;i++){
                    var description = finalArray[i].description;
                    var desc = description.replace(/<[^>]+>/g, '').length > 100 ? description.replace(/<[^>]+>/g, '').slice(0,100) + '...<span style="font-weight: 700;">Read More</span>' : description.replace(/<[^>]+>/g, '');
                    var color;
                    var icon;
                    if(finalArray[i].isLiked == 1) {
                        color = 'var(--highlight)';
                        icon = 'bxs:like';
                    } else {
                        color = 'var(--sub-text)';
                        icon = 'bx:like';
                    }
                    var openBlog = description.replace(/<[^>]+>/g, '').length > 100 ? 'window.location.href=\'/each-blog/'+ finalArray[i].id +'\'' : '';
                    //$('#experts').append('<div class="col-lg-3 col-md-4 col-sm-6 col-12"><div class="box2" style="background-image: url(\''+ finalArray[i].cover_photo +'\');margin: 0;"><div class="inside_container"><div onclick="window.location.href=\'/each-blog/'+ finalArray[i].id +'\'"><p class="date">'+ finalArray[i].created_at.toString().slice(0,10) +'</p><h5>'+ finalArray[i].title +'</h5><p>'+ desc +'</p></div><div class="info"><p class="downloads" onclick="likeDislike(\''+ finalArray[i].id +'\')" style="color: '+ color +'" data-liked="'+ finalArray[i].isLiked +'" id="icon_update_'+ finalArray[i].id +'"><span class="iconify" id="icon_to_update_'+ finalArray[i].id +'" data-icon="'+ icon +'"></span>&nbsp;&nbsp;<span id="total_likes_'+ finalArray[i].id +'">'+ finalArray[i].totalLikes +'</span></p><p class="date"><span class="iconify" data-icon="akar-icons:comment" onclick="getComments(\''+ finalArray[i].id +'\',0)"></span>&nbsp;&nbsp;<span class="iconify" data-icon="ci:share" onclick="generateShareLink(\''+ finalArray[i].id +'\',\'blog\',\''+ ('/each-blog/'+ finalArray[i].id +'?item_id='+ finalArray[i].id +'') +'\',\''+ finalArray[i].share_url +'\')"></span></p></div></div></div></div>');
                    $('#experts').append('<div class="col-lg-3 col-md-4 col-sm-6 col-12"><div class="box7" style="margin: 0;"><div class="desc" onclick="'+openBlog+'"><p>'+ desc +'</p></div><div class="image"><img src="'+ finalArray[i].cover_photo +'" alt=""></div><div class="inside_container"><div class="info"><p class="downloads" onclick="likeDislike(\''+ finalArray[i].id +'\')" style="color: '+ color +'" data-liked="'+ finalArray[i].isLiked +'" id="icon_update_'+ finalArray[i].id +'"><span class="iconify" id="icon_to_update_'+ finalArray[i].id +'" data-icon="'+ icon +'"></span>&nbsp;&nbsp;<span id="total_likes_'+ finalArray[i].id +'">'+ finalArray[i].totalLikes +'</span></p><p class="date"><span class="iconify" data-icon="akar-icons:comment" onclick="getComments(\''+ finalArray[i].id +'\',0)"></span>&nbsp;&nbsp;<span class="iconify" data-icon="ci:share" onclick="generateShareLink(\''+ finalArray[i].id +'\',\'blog\',\''+ ('/each-blog/'+ finalArray[i].id +'?item_id='+ finalArray[i].id +'') +'\',\''+ finalArray[i].share_url +'\')"></span></p></div></div></div></div>');
                  }
                } else {
                    if(offset == 0){
                        $('#experts').append('<div class="col-12 text-center"><h6>No blogs present</h6></div>');
                    }
                } 
                if(response.totalBlogs <= 20) {
                    document.getElementById('load_more').style.display = 'none';
                } else if(document.getElementsByClassName('expert-cards').length == response.totalBlogs) {
                    document.getElementById('load_more').style.display = 'none';
                }
                document.getElementById('load').style.visibility="hidden";
            },
            error: function(err){
                if(isDevelopment) {
                    console.log(err);
                }
                alert('Some error occured !!');
            }
        });
    }
    setTimeout(() => {
        getBlogs(offset);
    },500);
</script>
<%- include('../components/footer/website_footer.ejs') %>