<div class="footer container-fluid">
        <% if(showContactExpert){ %> 
            <div class="subscribe container">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-12 col-12 d-flex align-items-center order-1 order-md-0 d-none d-md-flex">
                        <img src="/images/local/subscribe.png" alt="">
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 d-flex align-items-center justify-content-start justify-content-md-end order-0 order-md-1">
                        <div class="text-md-end text-center">
                            <h6>SOMETIMES LATER BECOME NEVER</h6>
                            <p>Take Action Now, Enroll yourself in any of our program and get your life transformed.</p>
                            <div class="button" onclick="window.location.href='/experts'">
                                <a class="text-md-end text-start">CONTACT AN EXPERT&nbsp;&nbsp;<span class="iconify" data-icon="bi:arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %> 
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 d-flex justify-content-center justify-content-md-start">
                        <div class="logo d-inline-block text-center">
                            <a href="/" style="border: 0 !important;"><img src="/images/local/logo.png"></a>
                            <br>
                            <a href="https://play.google.com/store/apps/details?id=com.healfit.heal_fit" style="border: 0 !important;" target="_blank"><img src="/images/local/play_store.png" style="border-radius: 8px;" alt=""></a>&nbsp;
                            <a href="https://apps.apple.com/in/app/healfit/id1645721639" style="border: 0 !important;"><img src="/images/local/app_store.png" style="border-radius: 8px;" alt="" target="_blank"></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <h4>Quick links</h4>
                        <ul>
                            <li onclick="window.location.href='/'">Home</li>
                            <li onclick="window.location.href='/programs'">Programs</li>
                            <li onclick="window.location.href='/experts'">Experts</li>
                            <li onclick="window.location.href='/blogs'">Blogs</li>
                            <li onclick="window.location.href='/about'">About us</li>
                            <li onclick="window.location.href='/contact'">Contact us</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <h4>Policies</h4>
                        <ul>
                            <li onclick="window.location.href='/privacy-policy'">Privacy policy</li>
                            <li onclick="window.location.href='/refund-policy'">Refund policy</li>
                            <li onclick="window.location.href='/terms-conditions'">Terms & conditions</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <h4>Contact</h4>
                        <ul>
                            <li>
                                <a href="mailto:contact@healfit.in" style="color: var(--rich-black) !important;border: 0 !important;">
                                    <span class="iconify" data-icon="fluent:mail-16-regular"></span>&nbsp;&nbsp;
                                    <div>
                                        <span>contact@healfit.in</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://wa.me/+918009555144" target="_blank" style="color: var(--rich-black) !important;border: 0 !important;">
                                    <span class="iconify" data-icon="bxl:whatsapp"></span>&nbsp;&nbsp;
                                    <div>
                                        <span>+91-8009555144</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="last-row text-center text-md-start">
                            <a href="https://www.instagram.com/healfit.in/" target="_blank">
                                <span class="iconify" data-icon="ant-design:instagram-outlined"></span>
                            </a>&nbsp;&nbsp;
                            <a href="https://www.youtube.com/c/HealFit1">
                                <span class="iconify" data-icon="ant-design:youtube-outlined"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <br><br>
        </div>
</div>