<%- include('../components/header/header.ejs',{cssFile : 'index',page:page}) %> 

<div class="main-container">
    <div class="container">
        <br>
        <h1>Refund policy</h1>
        <br>
        <p>Last updated: July 16, 2021
            <br><br>
            Thank you for shopping at HealFit.
            <br><br>
            If, for any reason, You are not completely satisfied with a purchase We invite You to review our policy on refunds and returns.
            <br><br>
            The following terms are applicable for any products that You purchased with Us.
            <br><br>
            Interpretation and Definitions
            Interpretation
            The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.
            <br><br>
            Definitions
            For the purposes of this Return and Refund Policy:
            <br><br>
            Company (referred to as either “the Company”, “We”, “Us” or “Our” in this Agreement) refers to HealFit.
            Goods refer to the items offered for sale on the Service.
            Orders mean a request by You to purchase Goods from Us.
            Website refers to HealFit, accessible from https://healfit.in
            You means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.
            Your Order Cancellation Rights
            You are entitled to cancel Your Order within 14 days without giving any reason for doing so.
            <br><br>
            The deadline for cancelling an Order is 14 days from the date on which You received the Goods/Services or on which a third party you have appointed, who is not the carrier, takes possession of the product/service delivered. Refund on the sessions performed will not be applicable.
            <br><br>
            In order to exercise Your right of cancellation, You must inform Us of your decision by means of a clear statement. You can inform us of your decision by:
            <br><br>
            By email: contact@healfit.in
            We will reimburse you no later than 14 days from the day on which We receive the returned Goods. We will use the same means of payment as You used for the Order, and You will not incur any fees for such reimbursement.
            <br><br>
            Conditions for Returns/ Refunds
            In order for the Goods/ services to be eligible for a return, please make sure that:
            <br><br>
            The Goods/ services were purchased in the last 14 days
            The following Goods/ services cannot be returned:
            <br><br>
            The supply of Goods/ services made to Your specifications or clearly personalized.
            The supply of Goods/ services which according to their nature are not suitable to be returned, deteriorate rapidly or where the date of expiry is over.
            The supply of Goods/ services which are not suitable for return due to health protection or hygiene reasons and were unsealed after delivery.
            The supply of Goods/ services which are, after delivery, according to their nature, inseparably mixed with other items.
            We reserve the right to refuse returns of any merchandise that does not meet the above return conditions in our sole discretion.
            <br><br>
            Only regular priced Goods/services may be refunded. Unfortunately, Goods on sale cannot be refunded. This exclusion may not apply to You if it is not permitted by applicable law.
            <br><br>
            Contact Us
            If you have any questions about our Returns and Refunds Policy, please contact us:
            <br><br>
            By email: contact@healfit.in</p>
    </div>
    <br><br>
</div>

<%- include('../components/footer/footer.ejs') %>