
<script src="/javascripts/home.js"></script>
<script type="module">
    var loginModal;
    var reloadCount;
    var state;
    var user;
    $(function(){
        // bootstraps modals
        loginModal = new bootstrap.Modal(document.getElementById('login'));
        state = history.state || {};
        reloadCount = state.reloadCount || 0;
        if (performance.navigation.type === 1) { // Reload
            state.reloadCount = ++reloadCount;
            history.replaceState(state, null, document.URL);
        } else if (reloadCount) {
            delete state.reloadCount;
            reloadCount = 0;
            history.replaceState(state, null, document.URL);
        }
    });
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-analytics.js";
  import { getAuth, RecaptchaVerifier,signInWithPhoneNumber } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-auth.js";
  import { getMessaging, getToken } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-messaging.js";

  const firebaseConfig = {
    apiKey: "AIzaSyA1emjLa2Hvq37jMYfEfzK26geu4bniV1E",
    authDomain: "healfit-smtp.firebaseapp.com",
    projectId: "healfit-smtp",
    storageBucket: "healfit-smtp.appspot.com",
    messagingSenderId: "583727872448",
    appId: "1:583727872448:web:e0af4962dbb1ae84a87025",
    measurementId: "G-LKJDW8T8Z2"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const messaging = getMessaging(app);

  //genrate random token
  function makeid(length) {
    var result           = '';
    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * 
        charactersLength));
    }
    return result;
}

// alert(document.cookie);

  if(document.cookie.split(';').length != 0){
        var array = document.cookie.split(';');
        var counter = 0;
        var index = 0;
        for(var i=0;i<array.length;i++) {
            if(array[i].includes('currentUserToken=')){
                counter++;
                index = i;
            }
        }
        if(counter > 0){
            if(decodeURIComponent(document.cookie).split(';')[index].split('currentUserToken=')[1]){
                // alert('cookie present first = ' + decodeURIComponent(document.cookie).split(';')[index].split('currentUserToken=')[1]);
                setInitialData(decodeURIComponent(document.cookie).split(';')[index].split('currentUserToken=')[1]);
            } else if(document.cookie.split(';')[index].split('currentUserToken=')[1]) {
                // alert('cookie present second = ' + document.cookie.split(';')[index].split('currentUserToken=')[1]);
                setInitialData(document.cookie.split(';')[index].split('currentUserToken=')[1]);
            } else {
                // alert('cookie not present');
                await getToken(messaging,{vapidKey: "<%- firebaseKey %>"}).then((value)=>{
                    // alert('token generated first=' + value);
                    document.cookie = `currentUserToken=${value}`;
                    setInitialData(value);
                }).catch((err) => {
                    var token = makeid(14);
                    // alert('token generated second=' + token);
                    document.cookie = `currentUserToken=${token}`;
                    setInitialData(date);
                });
            }
        } else {
            await getToken(messaging,{vapidKey: "<%- firebaseKey %>"}).then((value)=>{
                // alert('token generated third=' + value);
                document.cookie = `currentUserToken=${value}`;
                setInitialData(value);
            }).catch((err) => {
                    var token = makeid(14);
                    // alert('token generated fourth=' + token);
                    document.cookie = `currentUserToken=${token}`;
                    setInitialData(date);
            });
        }
  } else {
    await getToken(messaging,{vapidKey: "<%- firebaseKey %>"}).then((value)=>{
        // alert('token generated fifth=' + value);
        document.cookie = `currentUserToken=${value}`;
        setInitialData(value);
    }).catch((err) => {
        var token = makeid(14);
        // alert('token generated sixth=' + token);
        document.cookie = `currentUserToken=${token}`;
        setInitialData(date);
    });
  }

    const auth = getAuth();
    window.recaptchaVerifier = new RecaptchaVerifier(
        "recaptcha-container",
        {
            size: "invisible",
            callback: function(response) {
                submitPhoneNumberAuth();
            }
        },auth
    );

    let obj = document.getElementById('sign-in-button');
    obj.addEventListener("click", function(event) {
        event.preventDefault();
        submitPhoneNumberAuth();
    });

    function submitPhoneNumberAuth() {
        document.getElementById('sign-in-button').setAttribute('disabled','disabled');
        var phoneNumber = document.getElementById("phoneNumber").value;
            if(phoneNumber.length ==10) {
                var appVerifier = window.recaptchaVerifier;
                var a = '+91' + phoneNumber;
                signInWithPhoneNumber(auth,a, appVerifier)
                    .then(function(confirmationResult) {
                        window.confirmationResult = confirmationResult;
                        document.getElementById('phone_number_input').style.display="none";
                        document.getElementById('otp_verification').style.display="block";
                    })
                    .catch(function(error) {
                        console.log(error);
                        alert("Too many requests , Please try after some time");
                        // alert('Please enter a correct phone number');
                    });
            } else {
                alert('Please enter a phone number of length 10 digit');
            }
    }

    let obj2 = document.getElementById('confirm-code');
    obj2.addEventListener("click", function(event) {
        event.preventDefault();
        submitPhoneNumberAuthCode()
    });

    function submitPhoneNumberAuthCode() {
        var phoneNumber = document.getElementById("phoneNumber").value;
        document.getElementById('confirm-code').setAttribute('disabled','disabled');
        var code = document.getElementById("code").value;
        if(code.length !=6){
            alert('Please enter a correct OTP');
        } else {
            var array = document.cookie.split(';');
            var counter = 0;
            var index = 0;
            for(var i=0;i<array.length;i++) {
                if(array[i].includes('currentUserToken=')){
                    counter++;
                    index = i;
                }
            }
            confirmationResult
                .confirm(code)
                .then(function(result) {
                    $.ajax({
                        url : `/api/updatePhoneNumber`,
                        dataType: "json",
                        type: "POST",
                        headers: {
                            'token':decodeURIComponent(document.cookie).split(';')[index].split('currentUserToken=')[1],
                            'platform': 'WEB'
                        },
                        data:{
                            phoneNumber: phoneNumber,
                        },
                        success: function(response){
                            if(isDevelopment) {
                                console.log(response);
                            }
                            // alert(response);
                            document.cookie = `user_id=${response.user[0].id}`;
                            document.getElementById('otp_verification').style.display="none";
                            document.getElementById('user_values').setAttribute('data-userId',response.user[0].id);
                            if(response.user.length != 0){
                                if(response.user[0].name == null || response.user[0].name.length == 0 || response.user[0].age == 0){
                                    if(response.user[0].status != 'BLOCKED'){
                                        document.getElementById('user_values').style.display="block";
                                        document.getElementById('fullname').value = response.user[0].name;
                                        document.getElementById('email').value = response.user[0].email;
                                        if(response.user[0].gender.length != 0) {
                                            var gender = response.user[0].gender == 'MALE' ? '1' : response.user[0].gender == 'FEMALE' ? '2' : '3';
                                            var inside_selected_list = document.getElementsByClassName('selected-gcard')[0];
                                            if(inside_selected_list) {
                                                inside_selected_list.classList.remove('selected-gcard');
                                            }
                                            document.querySelectorAll('.gcards').forEach(item => {
                                                if(item.getAttribute('data-gvalue') == gender) {
                                                    item.classList.add('selected-gcard');
                                                }
                                            });
                                        }
                                        document.getElementById('age').value = response.user[0].age != '0' ? response.user[0].age : '';
                                        document.getElementById('weight').value = response.user[0].weight != '0' ? response.user[0].weight :'';
                                        document.getElementById('target_weight').value = response.user[0].target_weight != '0' ? response.user[0].target_weight : '';
                                        document.getElementById('ft').value = response.user[0].height.toString().split('.')[0] != '0' ? response.user[0].height.toString().split('.')[0] : '';
                                        document.getElementById('in').value = response.user[0].height.toString().split('.')[1] != '0' ? response.user[0].height.toString().split('.')[1] : '';
                                        if(response.user[0].profile_image != null && response.user[0].profile_image.length != 0){
                                            document.getElementById('profileImageData').setAttribute('src',response.user[0].profile_image);
                                        } else {
                                            document.getElementById('profileImageData').setAttribute('src','/images/local/addImage.png');
                                        }
                                    } else {
                                        loginModal.toggle();
                                        alert('You are blocked by admin , so you can\'t login with this number!!');
                                    }
                                } else {
                                    if(response.user[0].status != 'BLOCKED'){
                                        location.reload();
                                    } else {
                                        loginModal.toggle();
                                        alert('You are blocked by admin , so you can\'t login with this number!!');
                                    }
                                }
                            } else {
                                location.reload();
                            }
                        },
                        error: function(err){
                            if(isDevelopment) {
                                console.log(err);
                            }
                            alert('Some error occured !!');
                        }
                    });
                })
                .catch(function(error) {
                    console.log(error);
                        alert("OTP does not matched , Please try again");
                });
        }
    }

    function setInitialData(token) {
        $.ajax({
            url : `/api/createUser/`,
            dataType: "json",
            type: "GET",
            headers: {
                'token':token ? token : 'testing',
                'Content-Type':'application/json',
                'platform': 'WEB'
            },
            success: function(response){
              if(isDevelopment) {
                    console.log(response);
                }
            //   console.log(window.location.pathname);
                document.cookie = `user_id=${response.user[0].id}`;
              if(response.user.length != 0){
                user = response.user[0];
                if(response.user[0].logged_in == 1){
                    if(response.user[0].status != 'BLOCKED'){
                        document.getElementById('phone_number_input').style.display="none";
                        document.getElementById('otp_verification').style.display="none";
                        document.getElementById('user_values').style.display="block";
                        document.getElementById('login_button_topbar').style.display="none";
                        document.getElementById('login_button').style.display="none";
                        document.getElementById('profile').style.display="flex";
                        if(response.user[0].profile_image != null && response.user[0].profile_image.length != 0){
                            document.getElementById('loggedInProfileImage').setAttribute('src',response.user[0].profile_image);
                        } else {
                            document.getElementById('loggedInProfileImage').setAttribute('src','/images/local/addImage.png');
                        }
                        document.getElementById('fullname1').value = response.user[0].name;
                        document.getElementById('email1').value = response.user[0].email;
                        if(response.user[0].gender.length != 0) {
                            var gender = response.user[0].gender == 'MALE' ? '1' : response.user[0].gender == 'FEMALE' ? '2' : '3';
                            var inside_selected_list = document.getElementsByClassName('selected-gcard')[0];
                            if(inside_selected_list) {
                                inside_selected_list.classList.remove('selected-gcard');
                            }
                            document.querySelectorAll('.gcards1').forEach(item => {
                                if(item.getAttribute('data-gvalue') == gender) {
                                    item.classList.add('selected-gcard');
                                }
                            });
                        }
                        //Onclick select gender
                        document.querySelectorAll('.gcards1').forEach(item => {
                            item.addEventListener('click', event => {
                                event.preventDefault();
                                var inside_selected_list = document.getElementsByClassName('selected-gcard')[0];
                                if(inside_selected_list) {
                                    inside_selected_list.classList.remove('selected-gcard');
                                }
                                item.classList.add('selected-gcard');
                            });
                        });

                        document.getElementById('age1').value = response.user[0].age != '0' ? response.user[0].age : '';
                        document.getElementById('weight1').value = response.user[0].weight != '0' ? response.user[0].weight :'';
                        document.getElementById('target_weight1').value = response.user[0].target_weight != '0' ? response.user[0].target_weight : '';
                        document.getElementById('ft1').value = response.user[0].height.toString().split('.')[0] != '0' ? response.user[0].height.toString().split('.')[0] : '';
                        document.getElementById('in1').value = response.user[0].height.toString().split('.')[1] != '0' ? response.user[0].height.toString().split('.')[1] : '';
                        if(response.user[0].profile_image != null && response.user[0].profile_image.length != 0){
                            document.getElementById('profileImageData1').setAttribute('src',response.user[0].profile_image);
                        } else {
                            document.getElementById('profileImageData1').setAttribute('src','/images/local/addImage.png');
                        }
                        document.getElementById('delete-icon1').style.display = 'flex';
                        if(document.getElementById('beforeLoginHeroSection')) {
                            var heightInCm = parseFloat(response.user[0].height) * 30.48;
                            var weight = parseFloat(response.user[0].weight);
                            var age = parseInt(response.user[0].age);
                            var s = response.user[0].gender == 'MALE' ? 5 : response.user[0].gender == 'FEMALE' ? -161 : 5;
                            var calories= ((10.0 * weight) + (6.25 * heightInCm) - (5.0 * age) + s);
                            document.getElementById('calorieCounterValue').setAttribute('data-calorieBurned', Math.ceil(calories));
                            document.getElementById('beforeLoginHeroSection').style.display = 'none';
                            document.getElementById('afterLoginHeroSection').style.display = 'flex';
                        }
                        document.getElementById('load').style.visibility="hidden";
                    } else {
                        document.getElementById('load').style.visibility="hidden";
                        alert('You are blocked by admin , so you can\'t login with this number!!');
                    }
                } else {
                    // if(response.user[0].phoneNumber == '+910000000000'){
                    //     document.getElementById('load').style.visibility="hidden";
                    //     if(window.location.pathname == '/' && reloadCount <= 1){
                    //         setTimeout(() => {
                    //             loginModal.toggle();
                    //         },1000);
                    //     }
                    // } else {
                    // }

                        if(response.user[0].is_otp_verified == 1){
                            document.getElementById('load').style.visibility="hidden";
                            document.getElementById('phone_number_input').style.display="none";
                            document.getElementById('otp_verification').style.display="none";
                            document.getElementById('user_values').style.display="block";
                            if(response.user[0].name == null || response.user[0].age == 0){
                                    document.getElementById('fullname').value = response.user[0].name;
                                    document.getElementById('email').value = response.user[0].email;
                                    if(response.user[0].gender.length != 0) {
                                        var gender = response.user[0].gender == 'MALE' ? '1' : response.user[0].gender == 'FEMALE' ? '2' : '3';
                                        var inside_selected_list = document.getElementsByClassName('selected-gcard')[0];
                                        if(inside_selected_list) {
                                            inside_selected_list.classList.remove('selected-gcard');
                                        }
                                        document.querySelectorAll('.gcards').forEach(item => {
                                            if(item.getAttribute('data-gvalue') == gender) {
                                                item.classList.add('selected-gcard');
                                            }
                                        });
                                    }
                                    document.getElementById('age').value = response.user[0].age != '0' ? response.user[0].age : '';
                                    document.getElementById('weight').value = response.user[0].weight != '0' ? response.user[0].weight :'';
                                    document.getElementById('target_weight').value = response.user[0].target_weight != '0' ? response.user[0].target_weight : '';
                                    document.getElementById('ft').value = response.user[0].height.toString().split('.')[0] != '0' ? response.user[0].height.toString().split('.')[0] : '';
                                    document.getElementById('in').value = response.user[0].height.toString().split('.')[1] != '0' ? response.user[0].height.toString().split('.')[1] : '';
                                    if(response.user[0].profile_image != null && response.user[0].profile_image.length != 0){
                                        document.getElementById('profileImageData').setAttribute('src',response.user[0].profile_image);
                                    } else {
                                        document.getElementById('profileImageData').setAttribute('src','/images/local/addImage.png');
                                    }
                                //Open name age modal 
                                if(window.location.pathname == '/' && reloadCount <= 1){
                                    setTimeout(() => {
                                        loginModal.toggle();
                                    },1000);
                                }
                            }
                        } else {
                            document.getElementById('load').style.visibility="hidden";
                            if(window.location.pathname == '/' && reloadCount <= 1){
                                setTimeout(() => {
                                    loginModal.toggle();
                                },1000);
                            }
                        }
                }
              }
                document.getElementById('load').style.visibility="hidden";
            },
            error: function(err){
                if(isDevelopment) {
                    console.log(err);
                }
                alert('Some error occured !!');
            }
        });
    }

</script>

<!--Bootstrap js-->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!---->

<!-- Ionify js -->
<script src="/iconify/iconify.min.js"></script>
<!---->

</body>
</html>