<%- include('../../components/header/header.ejs',{cssFile : 'adminPages'}) %> 

<div id="load"></div>

<div>
    <%= data.name %> 
    <%= data.phoneNumber %> 
</div>

<%- include('../../components/footer/footer.ejs') %> 