<%- include('../../components/header/header.ejs',{cssFile : 'adminPages'}) %> 

<div id="load"></div>

<div class="container-fluid main">
    <h1>Users</h1>
</div>

<%- include('../../components/footer/footer.ejs') %> 